.profileInfo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;

  padding: 20px;

  background-color: var(--additional-bg-color);

  border: 1px solid var(--layout-line-color);
  border-radius: 10px;
}

.profileInfo__avatar {
  border-radius: 50%;
  border: 3px solid var(--layout-line-color);
}