.wrapper {
  border-bottom: 1px solid var(--layout-line-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--navbar-height);
  width: var(--desktop-width);

  margin: 0 auto;
}

.navbar__menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}