.dropdown {
  position: relative;
  padding: 0 4px;

  cursor: pointer;
}

.dropdown__wrapper {
  position: absolute;
  left: 0;

  padding: 4px 0;

  background-color: var(--additional-bg-color);

  border-radius: 4px;
}

.dropdown__item {
  width: 100%;
  padding: 4px;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
    background-color: var(--bg-color);
  }
}