.button {
  padding: 10px;

  font: inherit;
  color: inherit;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.button__outlined {
  width: 100%;

  background: none;
  border: 1px solid var(--layout-line-color);
}

.button__main {
  color: var(--button-text-color);
  background: var(--blue);
}

.button__secondary {
  color: var(--button-text-color);
  background: var(--green);
}