.loginForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  width: 500px;

  padding: 50px;

  background-color: var(--additional-bg-color);

  border-radius: 6%;
}

.helpLink {
  color: var(--green)
}

.form__field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  width: 100%;
}


.form__error {
  color: var(--attention-color);
}

.form__innerWrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}